.animal-types-container {
    width: 100%;
    margin: 75px 0;
}

.colored-text {
    color: #339886;
}

.doctor-card {
    max-width: 325px;
    width: 100%;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
}

.doctor-card:hover {
    background-image: url("/frontend/src/assets/paws.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(234, 255, 235, 0.7);
    background-blend-mode: overlay;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.doctor-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
}

.more-btn {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s;
}

.more-btn:hover {
    background-color: #5a6268;
}

.type-doctors .arrow-button {
    background: transparent;
    border: none;
    padding: 15px;
    position: relative;
    z-index: 10;
}

.type-doctors .arrow-image {
    width: 100%;
    max-width: 30px;
    height: auto;
}

@media(max-width: 768px) {
    .type-doctors .arrow-image {
        width: 10px;
        height: 10px;
    }

    .doctor-card {
        max-width: 100%;
    }
}