# Laravel
backend/.env
backend/.env.*
!backend/.env.example
backend/vendor/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/storage/logs/
backend/public/build/

# React
frontend/node_modules/

# Docker
*.log
data/
db-data/

# Системные
.DS_Store
Thumbs.db
.idea/
.vscode/
node_modules
