# Laravel
.env
.env.backup
.env.production
vendor/

# Storage
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/logs/
storage/*.key
storage/pail/

# Public
/public/build
/public/hot
/public/storage

# PHP
.phpunit.result.cache
/.phpunit.cache

