.scroll-to-top-btn {
    position: fixed;
    bottom: 60px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    background-color: rgb(51, 152, 134, 0.3) !important;
    border: none !important;
    color: white !important;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-to-top-btn:hover {
    background-color: #2a7a6d !important;
    color: white !important;
}