.breadcrumb a {
    color: #616161;
}

.breadcrumb a:hover {
    color: #d8971f
}

.price-list .container {
    margin-top: 0;
    padding-top: 0;
}

.price-list-btn .btn {
    background-color: #fff;
    border: 1px solid #fff;
    ;
    color: #000000;
}

.price-list-btn .btn:hover {
    background-color: #339886;
    border: 1px solid #339886;
    color: #ffffff;
}

.price-list-btn .btn:active {
    background-color: #339886 !important;
    border: 1px solid #339886 !important;
}