.animal-types-container {
    width: 100%;
    margin-top: 75px;
    margin-bottom: 75px;
}

.colored-text {
    color: #339886;
}

.service-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: all 0.2s linear;
}

.service-card:hover {
    box-shadow: 0 0 15px 2px #a8a8a8;
    transform: scale(1.1);
    cursor: pointer;
}

.service-card .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 150px;
}

@media(max-width: 768px) {
    .service-card .card-body {
        min-height: 0;
    }
    .card-description {
        margin: 0;
        padding: 0;
        display: none;
    }
    .service-card .card-title {
        text-align: center;
    }
}