.footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/cat1.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.img-style {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.footer-copyright p {
    font-size: 14px;
    margin-bottom: 0;
}

.footer a,
.footer a:link,
.footer a:visited {
    color: white;
    text-decoration: none;
}

.footer a:hover,
.footer a:focus {
    color: #b3b3b3;
}