.main-content {
    flex: 1;
    background-color: #f3f3f2;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
select:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 1000px #e8f5f3 inset !important;
}

.form-control:focus,
.form-control:active,
.form-control:hover,
.form-select:focus,
.form-select:active,
.form-select:hover {
    border-color: #339886 !important;
    box-shadow: 0 0 0 0.25rem rgba(51, 152, 134, 0.25) !important;
    outline: 0 !important;
}


