.main-img-container {
    width: 100%;
    height: 55vh;
    position: relative;
    overflow: hidden;
    min-height: 400px;
    max-height: 800px;
}

.main-image {
    object-fit: cover;
}

.main-inner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-inner-container h1 {
    color: white;
    text-shadow: 
        0 1px 0 rgba(0, 0, 0, 0.4),
        0 2px 0 rgba(0, 0, 0, 0.3),
        0 3px 0 rgba(0, 0, 0, 0.2),
        0 4px 4px rgba(0, 0, 0, 0.9),
        0 0 15px rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
    position: relative;
}

.main-inner-container h1::before {
    content: attr(data-text);
    position: absolute;
    top: 2px;
    left: 2px;
    color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.main-inner-container p {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 
        0 1px 2px rgba(0, 0, 0, 0.8),
        0 2px 4px rgba(0, 0, 0, 0.6);
    padding: 5px 0;
}

.dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 8px;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: white;
}


.dot:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.btn-style.btn-light {
    transition: all 0.3s ease;
    border: 1px solid #e9ecef;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.btn-style.btn-light:hover {
    background-color: #fff;
    box-shadow: 0 0 15px 2px #a8a8a8;
    transform: scale(1.05);
    cursor: pointer;
    border-color: #339886;
}

.btn-style.btn-light:active {
    background-color: rgba(51, 152, 134, 0.4) !important;
    border-color: rgba(51, 152, 134, 0.4) !important;
}