.main-img-container {
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.main-image {
    object-fit: cover;
}

.main-inner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 8px;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: white;
}


.dot:hover {
    background-color: rgba(255, 255, 255, 0.8);
}