.main-img-container {
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.main-image {
    object-fit: cover;
}

.main-inner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 8px;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: white;
}


.dot:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.btn-style.btn-light {
    transition: all 0.3s ease;
    border: 1px solid #e9ecef;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.btn-style.btn-light:hover {
    background-color: #fff;
    box-shadow: 0 0 15px 2px #a8a8a8;
    transform: scale(1.05);
    cursor: pointer;
    border-color: #339886;
}

.btn-style.btn-light:active {
    background-color: rgba(51, 152, 134, 0.4) !important;
    border-color: rgba(51, 152, 134, 0.4) !important;
}